body{
	color: #626262;
	font-family: "Playfair Display";
	font-weight: 400;
}
.menu{
	color: #1976D2;
	font-size: 14px;
	line-height: 24px;
	text-transform: uppercase;
}

.menu .menu-item:hover, 
.menu .menu-item:focus{
	color: #FF4081;
}
	
.item{
	text-transform: uppercase;
	font-size: 14px;
	color: #b4ad9e;
	font-family: "Ubuntu";
	font-weight: 300;
}
.heading{
	font-size: 1.5em;

}
.description{
font-size: 14px;
line-height: 24px;
}

/*width: 420px;
height: 95px;
font-size: 30px;
color: #626262;
font-family: "Playfair Display";
font-weight: 400;*/